<div class="LoginPage" style="background:url(assets/image/bgimage.jpeg);">
    <!--<div class="container">
      <div class="row">
       <div class="col-md-6 m-auto">
        <div class="box">
          <div class="form">
            <h2>Login </h2>
            
            <div class="inputBox">
              <i class="fa-solid fa-user"></i>
              <input type="text" placeholder="Username" required='required'>     
            </div>
            
            <div class="inputBox">
              <i class="fa-solid fa-lock"></i>
              <input type="text" placeholder="Password" required='required'>  
            </div>
            
              <a href="#"> Forgot Password</a> 
            <button type="submit" class='loginButton' value="Login"> Login </button>
             <p> Not a member? <a href="#"> Sign up</a> </p>
          </div>
        </div>
       </div>
      </div>
    </div>-->
    
    
    <div class="container">
      <div class="row">
       <div class="col-md-6 m-auto">
        
    <div class="align">
    
          <h1>Forgot Password </h1>
        <form action="" method="POST" class="form login">
    
          <div class="form__field">
            
            <label for="forgot_password"><svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 3v18h24v-18h-24zm6.623 7.929l-4.623 5.712v-9.458l4.623 3.746zm-4.141-5.929h19.035l-9.517 7.713-9.518-7.713zm5.694 7.188l3.824 3.099 3.83-3.104 5.612 6.817h-18.779l5.513-6.812zm9.208-1.264l4.616-3.741v9.348l-4.616-5.607z"/></svg><span class="hidden">Username</span></label>
            <input autocomplete="email"  type="email" name="email" class="form__input" placeholder="Email" required>
          </div>
    
          <div class="form__field">
            <input type="submit" value="Submit Now">
          </div>
    
        </form>
        <p class="text--center m-3"><a href="javascript:void(0);" routerLink="/auth/login"> Login  <svg class="icon">
          <use xlink:href="#icon-arrow-right"></use>
        </svg></a> </p>
      </div>
    
      <svg xmlns="http://www.w3.org/2000/svg" class="icons">
        <symbol id="icon-arrow-right" viewBox="0 0 1792 1792">
          <path d="M1600 960q0 54-37 91l-651 651q-39 37-91 37-51 0-90-37l-75-75q-38-38-38-91t38-91l293-293H245q-52 0-84.5-37.5T128 1024V896q0-53 32.5-90.5T245 768h704L656 474q-38-36-38-90t38-90l75-75q38-38 90-38 53 0 91 38l651 651q37 35 37 90z" />
        </symbol>
        <symbol id="icon-lock" viewBox="0 0 1792 1792">
          <path d="M640 768h512V576q0-106-75-181t-181-75-181 75-75 181v192zm832 96v576q0 40-28 68t-68 28H416q-40 0-68-28t-28-68V864q0-40 28-68t68-28h32V576q0-184 132-316t316-132 316 132 132 316v192h32q40 0 68 28t28 68z" />
        </symbol>
        <symbol id="icon-user" viewBox="0 0 1792 1792">
          <path d="M1600 1405q0 120-73 189.5t-194 69.5H459q-121 0-194-69.5T192 1405q0-53 3.5-103.5t14-109T236 1084t43-97.5 62-81 85.5-53.5T538 832q9 0 42 21.5t74.5 48 108 48T896 971t133.5-21.5 108-48 74.5-48 42-21.5q61 0 111.5 20t85.5 53.5 62 81 43 97.5 26.5 108.5 14 109 3.5 103.5zm-320-893q0 159-112.5 271.5T896 896 624.5 783.5 512 512t112.5-271.5T896 128t271.5 112.5T1280 512z" />
        </symbol>
      </svg>
    
    </div>
    </div>
    </div>
    </div>  