<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="chat-request">
                    <h2>New Chat Request</h2>
                    <div class="row">
                        <div class="col-md-12" *ngFor="let req of requests;">
                            <div class="contact"><b> {{((req?.from_id == userId)?req?.to_name:req?.from_name) |titlecase }}</b>, want to chat with you </div>
                            <button class="btn btn-success accept" (click)="acceptRejectRequest(req.id, '1')" *ngIf="req?.approved != 1 ">Accept</button>
                            <span class="label accept" *ngIf="req?.approved == 1">Accepted</span>
                            <span class="label  reject" *ngIf="req?.approved == 2 && req?.approved != 1">Declined</span>

                            <button class="btn btn-danger  reject" (click)="acceptRejectRequest(req.id, '2')" *ngIf="req?.approved != 2">Decline</button>

                            <!-- <button class="btn btn-success reject" *ngIf="req?.approved==1"> Chat</button> -->
                        </div>
                        <div class="col-md-12" *ngIf="!requests?.length">
                            <div class="contact">No new chat request available.</div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-6" style="padding-bottom: 60px;padding-top: 70px;" *ngIf="contacts?.length">
                <h2>Let's Chat...</h2>
                <div class="row" *ngIf="contacts?.length">
                    <div class="col-md-6">
                        <div class="contact-list">
                            <div class="contact " [ngClass]="contact?.from_id==selectedUserId?'active':''" *ngFor="let contact of contacts;" (click)="onChangeContact(contact)">
                                {{((contact?.from_id == userId)?contact?.to_name:contact?.from_name) |titlecase }}
                                <!-- {{(contact?.first_name?(contact?.first_name +' '+contact?.last_name):contact?.username)|titlecase}} -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12  message-contanier">
                                <div class="chat-messages">
                                    <div class="chat-message" [ngClass]="message?.from_id==selectedUserId?'user-message':'bot-message'" *ngFor="let message of messages; trackBy:messageIdentity">{{message?.message}}</div>
                                </div>
                            </div>
                            <div class="col-md-12" *ngIf="selectedUserId">
                                <input type="text" class="message-input" placeholder="Enter your message here" [(ngModel)]="messageText">
                                <button id="send" (click)="sendMessage()" class="btn btn-primary">Send <i class="fa-solid fa-arrow-right"></i></button>
                            </div>
                        </div>

                    </div>
                </div>


            </div>

        </div>


    </div>
</section>