<section class="about-top">
    <div class="container">
        <div class="row">
           <div class="col-md-12">
              <div class="about-content">
                 <h2> About Us </h2>
                 <p>  The Idea and inspiration this application is to make life easier for international students during their initial days at a foregin country.</p>
                 <p>  We consider privacy when maintaining standars, Also, we constantly strive to improve and meet all of the needs of the youngsters. </p>
              </div>
           </div>
        </div>
    </div>
</section>
<section class="teampage"> 
    <h3> Our Team </h3>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
              <div class="about-content-mainbox">
                  <img src="assets/image/a2.jpeg" alt="">
                  <h3>Renting or selling</h3>
                  <p>Abroad Buddy is a platform which alows the students to rent houses and it is also a web application hwere local post their. </p>
             </div>
            </div>
            <div class="col-md-4">
                <div class="about-content-mainbox">
                    <img src="assets/image/a1.jpeg" alt="">
                    <p> This is a platform that assists international students in making friends with similar interests and finding housing during their initial stages of arrival in the states. </p>
               </div>
              </div>
              <div class="col-md-4">
                <div class="about-content-mainbox">
                    <img src="assets/image/a3.jpeg" alt="">
                    <p> It also has a cool feature called "Ride Safe" which allows you to carpool with friends and helps drunk students find others who can safely drive them home. </p>
               </div>
              </div>
        </div>
    </div>
</section>